.history-details {
    position: relative;
}



.history-details ul {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: solid 0 white; 
    border-bottom-width: 1px; 
    margin-bottom: 4px; 

}
.history-details ul li{
    text-align: center; 
    font-size: 18px; 
}

.history-details ul li h3{
    font-size: 23px; 
}
.history-details  em{
    color: rgb(250, 43, 60);
    font-size: 23px; 
}
