
.item-selected {
    background-color: rgb(109, 118, 147);
    border-radius: 15px 15px;
    color:rgb(67, 219, 255)
}

.second-group .second-group{
    border: 0; 
}

ul li{
    margin-bottom:10px; 
}