
.forms {
	padding-left: 2px;
	height: auto;
}

.forms form {
	
	width: 70%;
	padding-left: 10px;
	
	padding-bottom: 10px;
	
	background-color: inherit;
}


footer {
	position: relative;
	top: 20%;
	
}



ul {
    padding-left: 15%;
    width: 85%;
}
.main{
    margin-top: 8%; 
}

