
.forms {
	padding-left: 2px;
	height: auto;
}

    .forms form {
      
       
    }


footer {
	position: relative;
	top: 20%;
	
}



ul {
    width: 70%;
    padding-left: 15%; 
    padding-right: 15%; 
    
    background-color: inherit;
}
